.p {
    padding: 20px;
    text-align: center;

    h1 {
        color: #6912b1;
    }

    .cajasuple {
        background-color: #3498db;
        color: white;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0 10px 20px black;
        margin: 20px 0;
        transition: background-color 0.3s ease, transform 0.3s ease;

        .suple {
            text-align: center;

            h2 {
                font-size: 32px;
                margin-bottom: 10px;
                transition: color 0.3s ease;
            }

            h2:hover {
                color: #391068;
            }

            p {
                font-size: 18px;
                line-height: 1.6;
                margin-bottom: 20px;
                text-align: center;
                transition: color 0.3s ease;
            }

            p:hover {
                color: #651b83;
            }
        }

    }

    .cajasuple:hover {
        background-color: #2980b9;
        transform: translateY(-5px);
    }

    .productos {
        background-color: #f5f5f5;
        border-radius: 15px;
        padding: 30px;
        margin: 20px 0;
        box-shadow: 0 10px 25px black;
        transition: all 0.3s ease;

        h3 {
            font-size: 26px;
            color: #3498db;
            text-align: center;
            margin-bottom: 10px;
            transition: color 0.3s ease;
        }

        h3:hover {
            color: #a12626;
        }

        p {
            font-size: 18px;
            line-height: 1.5;
            text-align: justify;
            color: #34495e;
            margin-bottom: 20px;
            transition: color 0.3s ease;
        }

        p:hover {
            color: #2c3e50;
        }

        .productos-lista {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;

            img {
                width: 180px;
                height: 200px;
                border-radius: 10px;
                box-shadow: 0 5px 15px black;
                transition: all 0.3s ease;
            }

            img:hover {
                box-shadow: 0 10px 25px rebeccapurple;
                transform: scale(1.1);
            }

        }
    }


    .productos:hover {
        box-shadow: 0 15px 30px black;
        transform: translateY(-5px);
    }

}





