header{
    background-color: #77a8d8;
    padding: 10px 20px;
    .header-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        #logo img{
            width: 100px;
        }
        nav#botonera{
            display: flex;
        }
        
        nav#botonera ul{
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
        }
        
        nav#botonera ul li{
            margin-right: 20px;
        }
        
        nav#botonera ul li a{
            text-decoration: none;
            color: rgb(199, 20, 20);
        }
        
        nav#botonera ul li a:hover{
            color: white;
            background-color: blue;
            font-size: 20px;
        }
    }
}

.header-containerp{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
     nav ul {
        list-style: none;
        display: flex; 
        gap: 15px; 
        a {
            text-decoration: none; 
            color: white;
            a:hover {
                color: #651b83; 
                font-size: 20px;
            }
            }
        
    }
    

    .logop{
        flex-shrink: 0;
        img{
            height: 100px;
        }
    }
    
    .carrito{
        display: flex;
        align-items: center;
        position: relative;
        img{
            height: 30px;
        }
        .carrito-contador{
            position: absolute;
            top: -5;
            right: -10px;
            background:rgb(5, 5, 5);
            color: white;
            border-radius: 50%;
            padding: 3px 3px;
            font-size: 12px;
            font-weight: bold;
        }
    }

}


.header-container {
    background-color: #74a4d4;
    padding: 20px;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    .nav-menu {
            display: flex;
            gap: 20px;
    
            .nav-list {
                    list-style: none;
                    display: flex;
                    gap: 20px;
            
                    .nav-item {
                        .nav-link {
                            text-decoration: none;
                            color: rgb(89, 44, 119);
                            font-size: 18px;
                        }
            
                        .nav-link:hover {
                            color: #6735db73;
                        }
                    }
            }
        }
        .logo-container{
            .logo-image {
                height: 100px; 
            }
        }
}


